button {
    background-color: #008cba;
    border: none;
    border-radius: 0.4em;
    color: white;
    padding: 0.4em 0.8em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    margin-left: 1em;
}

button:hover {
    cursor: pointer;
}