.textInput {
    font-size: 1.2em;
    margin: 0.5em;
}

.textInput label {
    text-align: left;
}

.textInput input[type=text] {
    border: 4px solid lightblue;
    border-radius: 4px;
    float: right;
}

.textInput input[type=text]:invalid {
    border: 4px solid red;
    border-radius: 4px;
}