.ContactForm {
    position: absolute;
    display: block;
    border: 2px solid black;
    height: 100vh;
    width: 50vw;
    background-color: lightblue;
    margin-left: auto;
    right: 0;
    top: 0;
    z-index: 3;
}

.ContactForm .close {
    position: absolute;
    top: 0;
    right: 1em;
    font-size: 3em;
    font-weight: bold;
    z-index: 4;
}

.ContactForm .close {
    cursor: pointer;
}

.ContactForm .Form {
    margin-top: 10em;
    margin-left: 0;
}

.ContactForm .Form textarea {
    margin-top: 1em;
}