.Question {
    display: flex;
    margin-top: 1em;
    justify-content: center;
}

.Question fieldset {
    padding: 1em;
    max-width: 25em;
    margin: 0.25em;
}

.Question fieldset span {
    padding: 0.5em;
    display: block;
}

.Question fieldset span input[type="radio"] {
    height: 1.2em;
    width: 1.2em;
    margin: 0.25em;
}

.Question fieldset span input[type="radio"]:hover {
    cursor: pointer;
}

.Question fieldset span label:hover {
    cursor: pointer;
}